.header {
  text-align: center;
  margin: 3rem auto;
}

.header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
  -webkit-user-drag: none;
}

.header h1 {
  font-size: 1.5rem;
  text-shadow:
        0 0 7px #e1d901,
        0 0 10px #e1d901,
        0 0 21px #e1d901,
        0 0 30px #e1d901;
  user-select: none;
}
